<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>
  <meta name="description" content="To be figured out soon.">

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="canonical" href="https://kw7oe.github.io/blog/page-3/">
  <link rel="alternate" type="application/rss+xml" title="kw7oe" href="/feed.xml">

  
</head>


  <body>

    

    <div class="section">
  <main class="main-col" aria-label="Content">
    <article class="blog">
  
    <div class="post">
  <!-- Headeer -->
   <header class="post-header">
     <h1 class="post-title" itemprop="name headline">Ruby fetch</h1>
     <p class="post-meta">
       <time datetime="2017-11-04T22:43:41+08:00" itemprop="datePublished">
         
         Nov 4, 2017
       </time>
       </p>
   </header>

   <!-- Main Article -->
   <div class="post-content" itemprop="articleBody">
     <p>Today, when I am refactoring a CLI I wrote, I came across a code block  where I check whether an index exists in an array <em>(turns out I don’t actually need it, I can just access the array and check if the value is <code class="highlighter-rouge">nil</code>)</em>. I went to search of Ruby <code class="highlighter-rouge">Array</code> documentation to see if such method exists. Then, I came across <code class="highlighter-rouge">Array#fetch</code> while scrolling through the documetantion.</p>

<h3 id="arrayfetch">Array#fetch</h3>

<p>In Ruby <code class="highlighter-rouge">Array</code>, <code class="highlighter-rouge">fetch</code> is a method that get the value at position <code class="highlighter-rouge">index</code> of an array. The difference between <code class="highlighter-rouge">fetch</code> and <code class="highlighter-rouge">.[]</code> is <code class="highlighter-rouge">fetch</code> throws an <code class="highlighter-rouge">IndexError</code> if the index doesn’t exists.</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">array</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">]</span>
<span class="n">array</span><span class="p">.</span><span class="nf">fetch</span><span class="p">(</span><span class="mi">0</span><span class="p">)</span> <span class="c1">#=&gt; 1</span>
<span class="n">array</span><span class="p">.</span><span class="nf">fetch</span><span class="p">(</span><span class="mi">4</span><span class="p">)</span> <span class="c1">#=&gt; IndexError: index 4 outside of array bounds: -3...3</span>
</code></pre></div></div>

<p>If we take a look at the Ruby documentation of <a href="https://ruby-doc.org/core-2.4.0/Array.html#method-i-fetch">Array#fetch</a>, we’ll see that <code class="highlighter-rouge">fetch</code> has the following definitions:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">fetch</span><span class="p">(</span><span class="n">index</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="no">Object</span>
<span class="n">fetch</span><span class="p">(</span><span class="n">index</span><span class="p">,</span> <span class="n">default</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="no">Object</span>
<span class="n">fetch</span><span class="p">(</span><span class="n">index</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">index</span><span class="o">|</span> <span class="n">block</span> <span class="p">}</span> <span class="o">-&gt;</span> <span class="no">Object</span>
</code></pre></div></div>

<p>Which means, we can also provide a default value as the result if the index isn’t found. For example:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">array</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">]</span>
<span class="n">array</span><span class="p">.</span><span class="nf">fetch</span><span class="p">(</span><span class="mi">4</span><span class="p">,</span> <span class="mi">0</span><span class="p">)</span>
<span class="c1">#=&gt; 0</span>
</code></pre></div></div>

<p>Or provide a block to be executed if the index is not found:</p>
<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">array</span> <span class="o">=</span> <span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">]</span>
<span class="n">array</span><span class="p">.</span><span class="nf">fetch</span><span class="p">(</span><span class="mi">4</span><span class="p">)</span> <span class="p">{</span> <span class="o">|</span><span class="n">index</span><span class="o">|</span> <span class="s2">"The index '</span><span class="si">#{</span><span class="n">index</span><span class="si">}</span><span class="s2">' is not found"</span> <span class="p">}</span>
<span class="c1">#=&gt; "The index '4' is not found"</span>
</code></pre></div></div>

<h3 id="possible-use-case">Possible Use Case</h3>

<p><code class="highlighter-rouge">Array#fetch</code> can be used when we need to provide a default value if the index is not found.</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">users</span> <span class="o">=</span> <span class="p">[</span><span class="s1">'Peter'</span><span class="p">,</span> <span class="s1">'Jane'</span><span class="p">,</span> <span class="s1">'John Wick'</span><span class="p">]</span>
<span class="nb">name</span> <span class="o">=</span> <span class="n">users</span><span class="p">.</span><span class="nf">fetch</span><span class="p">(</span><span class="mi">4</span><span class="p">,</span> <span class="s1">'User not found'</span><span class="p">)</span>

<span class="nb">puts</span> <span class="nb">name</span>
<span class="s2">"User not found"</span>
<span class="c1">#=&gt; nil</span>
</code></pre></div></div>

<p>For example, we have a method to allow to search other users <em>(which store in array)</em> and print out the name as a response. To handle the scenario where the user is not found, we can implement it by providing a default value with <code class="highlighter-rouge">Array#fetch</code>. No additional handling code is required.</p>

<p>If you know the other possible use cases of <code class="highlighter-rouge">Array#fetch</code>, feel free to share it out.</p>


   </div>
</div>
    <hr>
  
    <div class="post">
  <!-- Headeer -->
   <header class="post-header">
     <h1 class="post-title" itemprop="name headline">Register in Vim</h1>
     <p class="post-meta">
       <time datetime="2017-10-24T22:05:00+08:00" itemprop="datePublished">
         
         Oct 24, 2017
       </time>
       </p>
   </header>

   <!-- Main Article -->
   <div class="post-content" itemprop="articleBody">
     <p>For the past months, I have started to use <code class="highlighter-rouge">vim</code> in some occasions. One day, I came across a vim video, <a href="https://www.youtube.com/watch?v=3TX3kV3TICU" target="_blank">“Let Vim Do the Typing”</a>, and discover the use of <strong>register</strong> in <code class="highlighter-rouge">vim</code>. Basically, the concept of register in <code class="highlighter-rouge">vim</code> is very similar to the register in our computer. It is a temporary memory space for <code class="highlighter-rouge">vim</code> to store text.</p>

<h3 id="how-to-use-it">How to use it?</h3>
<p>In normal mode, <code class="highlighter-rouge">"r</code> will allow us to select the register <code class="highlighter-rouge">r</code>. The charcter after <code class="highlighter-rouge">"</code> is the register you selected. You can choose any register you like from <code class="highlighter-rouge">a-z</code>.To check the content of every register, use the command <code class="highlighter-rouge">:reg</code>. For specific registers, just provide the register name as arguments to the command, e.g <code class="highlighter-rouge">:reg r</code>.</p>

<p>In insert mode, you can insert the content of a register by <code class="highlighter-rouge">Ctrl-r</code> + <code class="highlighter-rouge">r</code>. You’ll notice the current cursor will turn into <code class="highlighter-rouge">"</code> when <code class="highlighter-rouge">Ctrl-r</code> is pressed.</p>

<h3 id="basic-usage">Basic Usage</h3>
<p>We can copy any text and save it to a specific register, which persists even after <code class="highlighter-rouge">vim</code> is quit. For example, we can yanked/copy current link and store to register <code class="highlighter-rouge">e</code> by <code class="highlighter-rouge">"eyy</code>.</p>

<p>We can also paste the content of register <code class="highlighter-rouge">e</code> by <code class="highlighter-rouge">"ep</code>. Or, go into insert mode and <code class="highlighter-rouge">Ctrl-r</code> + <code class="highlighter-rouge">e</code> to paste the content of the selected register.</p>

<h3 id="wrapping-up">Wrapping Up</h3>
<p>This is just a basic introduction of register in <code class="highlighter-rouge">vim</code>. There is still a lots of details and usage of register I didn’t cover in this post. For more details, feel free to refer to the resources below:</p>

<ul>
  <li><a href="http://www.brianstorti.com/vim-registers/" target="_blank">Vim registers: The basics and beyond</a></li>
  <li><a href="https://stackoverflow.com/questions/1497958/how-do-i-use-vim-registers" target="_blank">How do I use vim registers?</a></li>
</ul>

   </div>
</div>
    <hr>
  
    <div class="post">
  <!-- Headeer -->
   <header class="post-header">
     <h1 class="post-title" itemprop="name headline">Vue.js: Add component on click</h1>
     <p class="post-meta">
       <time datetime="2017-10-17T23:00:00+08:00" itemprop="datePublished">
         
         Oct 17, 2017
       </time>
       </p>
   </header>

   <!-- Main Article -->
   <div class="post-content" itemprop="articleBody">
     <p>I have been working on a project which uses <code class="highlighter-rouge">Vue.js</code> for front end. I came across a scenario where we need to allow user to add more entry in their form.</p>

<h3 id="initial-approach">Initial Approach</h3>
<p>The first thought that come to my mind will be get the <code class="highlighter-rouge">div#id</code> of the element and <code class="highlighter-rouge">append</code> it dynamically through <code class="highlighter-rouge">javascript</code></p>

<div class="language-javascript highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="kd">var</span> <span class="nx">parent</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">'parent'</span><span class="p">)</span>
<span class="kd">var</span> <span class="nx">component</span> <span class="o">=</span> <span class="nx">createComponent</span><span class="p">()</span> <span class="c1">// Assuming this return an Node element</span>

<span class="nx">parent</span><span class="p">.</span><span class="nx">appendChild</span><span class="p">(</span><span class="nx">component</span><span class="p">)</span>
</code></pre></div></div>

<p>However, since we are using <code class="highlighter-rouge">Vue.js</code>, it doesn’t feel natural to approach it this way.</p>

<h3 id="with-vuejs">With Vue.js</h3>

<p>Instead, we can utilize the functionality of <code class="highlighter-rouge">Vue.js</code>, by using <code class="highlighter-rouge">v-for</code> and <code class="highlighter-rouge">v-on:click</code>.</p>

<div class="language-html highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;template&gt;</span>
  <span class="nt">&lt;div&gt;</span>
    <span class="nt">&lt;p</span>
      <span class="na">v-for=</span><span class="s">"index in count"</span>
      <span class="na">:key=</span><span class="s">"index"</span><span class="nt">&gt;</span>
      {{ index }}
    <span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">v-on:click=</span><span class="s">"addComponent"</span><span class="nt">&gt;</span>Add<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/template&gt;</span>

<span class="nt">&lt;script&gt;</span>
<span class="k">export</span> <span class="k">default</span> <span class="p">{</span>
  <span class="nx">data</span> <span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="p">{</span>
      <span class="na">count</span><span class="p">:</span> <span class="mi">1</span>
    <span class="p">}</span>
  <span class="p">},</span>
  <span class="na">methods</span><span class="p">:</span> <span class="p">{</span>
    <span class="nx">addComponent</span> <span class="p">()</span> <span class="p">{</span>
      <span class="k">this</span><span class="p">.</span><span class="nx">count</span> <span class="o">+=</span> <span class="mi">1</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">}</span>
<span class="nt">&lt;/script&gt;</span>
</code></pre></div></div>
<ol>
  <li>Declare a counter
    <ul>
      <li>We first declare a data <code class="highlighter-rouge">count</code> with the initial value of 1.</li>
    </ul>
  </li>
  <li>Use <code class="highlighter-rouge">v-for</code> to generate components
    <ul>
      <li>In our <code class="highlighter-rouge">template</code> tag, We loop through the component with <code class="highlighter-rouge">v-for="index in count"</code>.</li>
      <li>With the <code class="highlighter-rouge">v-for</code> shorthands, <code class="highlighter-rouge">vue</code> will generate from <code class="highlighter-rouge">count</code> times of the component. In this case, <code class="highlighter-rouge">count</code> act like range. For more detailed explanation, refer to the official documetation: <a href="https://vuejs.org/v2/guide/list.html#v-for-with-a-Range" target="_blank">v-for with a Range</a>).</li>
    </ul>
  </li>
  <li>Button to increase <code class="highlighter-rouge">count</code>
    <ul>
      <li>Then we create a <code class="highlighter-rouge">Add</code> button that execute <code class="highlighter-rouge">addComponent</code> on click. The <code class="highlighter-rouge">addComponent</code> method is fairly straightforward, just increase the <code class="highlighter-rouge">count</code> by 1.</li>
      <li>When the user click the <code class="highlighter-rouge">Add</code> button, the <code class="highlighter-rouge">count</code> will be increased by 1, thus cause <code class="highlighter-rouge">Vue.js</code> to render additional component in our view.</li>
    </ul>
  </li>
</ol>

<h3 id="conclusion">Conclusion</h3>
<p>With the combination of, <code class="highlighter-rouge">count</code> act as counter. <code class="highlighter-rouge">v-for</code> to generate the components, and <code class="highlighter-rouge">addComponent</code> method to increase the <code class="highlighter-rouge">count</code>, we are able to render new component into our view when the user click the button.</p>

<p>P.S. The solution is inspired by this <a href="https://forum-archive.vuejs.org/topic/747/clone-component-when-click-add-more/3" target="_blank">forum post</a></p>


   </div>
</div>
    <hr>
  
    <div class="post">
  <!-- Headeer -->
   <header class="post-header">
     <h1 class="post-title" itemprop="name headline">Ruby .() notation</h1>
     <p class="post-meta">
       <time datetime="2017-10-15T18:12:19+08:00" itemprop="datePublished">
         
         Oct 15, 2017
       </time>
       </p>
   </header>

   <!-- Main Article -->
   <div class="post-content" itemprop="articleBody">
     <p>In Ruby, <code class="highlighter-rouge">.()</code> is a syntatic sugar for <code class="highlighter-rouge">call</code> method.</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">class</span> <span class="nc">Person</span>
  <span class="k">def</span> <span class="nf">call</span>
    <span class="s2">"Hello World"</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="no">Person</span><span class="p">.</span><span class="nf">new</span><span class="o">.</span><span class="p">()</span>
<span class="c1">#=&gt; Hello World</span>
</code></pre></div></div>

<p>In this example, we declare a <code class="highlighter-rouge">Person</code> class and <code class="highlighter-rouge">call</code> method in the class. With this, we can later execute <code class="highlighter-rouge">Person.new.()</code> to call the <code class="highlighter-rouge">call</code> method.</p>

<p>Note that, we need to initialize the <code class="highlighter-rouge">Person</code> object first by calling <code class="highlighter-rouge">new</code>, since the <code class="highlighter-rouge">call</code> is a instance method.</p>

<p>If we wanted to just call by <code class="highlighter-rouge">Person.()</code>, we can do it this way:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">class</span> <span class="nc">Person</span>
  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">call</span>
    <span class="s2">"Hello World"</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="no">Person</span><span class="o">.</span><span class="p">()</span>
<span class="c1">#=&gt; "Hello World"</span>

</code></pre></div></div>

<p>Some programming languages such as Python, Swift and Scala initalize object by <code class="highlighter-rouge">Person()</code>. In Ruby, we can’t override the <code class="highlighter-rouge">()</code> operator to achieve the same effect <em>(see this <a href="https://stackoverflow.com/questions/24351218/how-to-create-an-object-in-ruby-without-using-new?answertab=oldest#tab-top">StackOverflow question</a>)</em>. However, we can use <code class="highlighter-rouge">.()</code> to achieve a similar result:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">class</span> <span class="nc">Person</span>
  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="n">age</span><span class="p">)</span>
    <span class="vi">@name</span> <span class="o">=</span> <span class="nb">name</span>
    <span class="vi">@age</span> <span class="o">=</span> <span class="n">age</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">call</span><span class="p">(</span><span class="nb">name</span><span class="p">:,</span> <span class="n">age</span><span class="p">:)</span>
    <span class="nb">self</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="nb">name</span><span class="p">,</span> <span class="n">age</span><span class="p">)</span>
  <span class="k">end</span>
<span class="k">end</span>

<span class="no">Person</span><span class="o">.</span><span class="p">(</span><span class="ss">name: </span><span class="s2">"Peter"</span><span class="p">,</span> <span class="ss">age: </span><span class="mi">12</span><span class="p">)</span>
<span class="c1">#=&gt; #&lt;Person:0x00007f991b80b8d8 @name="Peter", @age=12&gt;</span>
</code></pre></div></div>

<p>Another way is to use metaprogramming in Ruby. Take a look at this <a href="https://stackoverflow.com/a/24356542">StackOverflow answer</a> to find out how.</p>

   </div>
</div>
    <hr>
  

  
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  
  <!-- Previous Page -->
  
    <a href="/blog/page-2" class="pagination-previous">&laquo; Prev</a>
  
  
  <!-- Next Page -->
  
    <a class="pagination-next" disabled>Next</a>
  
</div>

</article>

  </main>
</div>

    
    <script src="/assets/custom.js"></script>
  </body>

</html>
