@import "https://fonts.googleapis.com/css?family=Hammersmith+One|Source+Sans+Pro:300,400,700";

* {
	font-family: "Source Sans Pro", sans-serif;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3 {
	font-family: "Hammersmith One",  sans-serif;	
	margin-bottom: 12px;
}

p {
	margin-bottom: 6px;
	font-size: 24px;
}

a {
	color: #488286;
	text-decoration: none;
}

a:visited {
	color: #488286;
}

a:hover {
	color: #343E3D;
}

footer {
	margin: 24px;
}

footer p {
	font-size: 16px;
}

.nav-bar {
  position: fixed;
  z-index: 20;
  background-color: white;
  box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
  width : 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-bar ul {  
  list-style-type: none;
  float: right;
}

.nav-bar ul li {
  display: inline-block;
  padding: 12px 15px;
}

.nav-bar ul li a {
  font-family: "Hammersmith One",  sans-serif;
  font-size: 18px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-block {
	text-align: center;
}

.vp-height-100 {
	min-height: 100vh;
  position: relative;
}

.light {    
  background-color: #E6E6E6;
  color: #343E3D;
}

.dark {  
  background-color: #9FC2CC;
  color: #343E3D;
}

