@import "https://fonts.googleapis.com/css?family=Hammersmith+One|Source+Sans+Pro:300,400,700";

* {
	font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3 {
	font-family: "Hammersmith One",  sans-serif;	
	margin-bottom: 12px;
}

p, li {
	margin-bottom: 6px;
	font-size: 24px;
}

a {
	color: #488286;
	text-decoration: none;
}

a:visited {
	color: #488286;
}

a:hover {
	color: #343E3D;
}

footer {
	margin: 24px;
}

footer p {
	font-size: 16px;
}

.container {
  padding: 24px;
}
