<header class="site-header" role="banner">
  <div class="main-col">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
      <nav class="navbar" role="navigation"
        aria-label="main navigation">
        {% include component/nav_item.html title="Home" url="" %}
        {% include component/nav_item.html title="Categories"
          url="categories" %}
        {% include component/nav_item.html title="About" url="about" %}
        {% include component/nav_item.html title="Resume" url="resume" %}
      </nav>
      {% endif %}
  </div>
</header>
