---
layout: default
---

<div class="home">
  <div class="content">
  
  {% for post in site.posts %}
  <div class="post">
     <header class="post-header">
       <h1 class="post-title" itemprop="name headline">{{ post.title | escape }}</h1>
       <p class="post-meta">
         <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
           {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
           {{ post.date | date: date_format }}
         </time>
         {% if post.author %}
           • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
         {% endif %}</p>
     </header>
     <div class="post-content" itemprop="articleBody">
       {{ post.content }}
     </div>
  </div>
  {% endfor %}
  </div>

</div>
